/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

th, td {
    padding: 5px;
}