<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Aplicación {{ title }}
  </h1>
</div>

<nav>
  <ul>
    <li><a routerLink="clientes/listado">Listado Clientes</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
