<h2>Listado de personas</h2>
<p>
  Nombre: {{ nombrePersona }}, Apellido: {{ apellidoPersona }}, Edad:
  {{ edadPersona }}
</p>
<p>Edad+1: {{ edadPersona + 1 }}</p>

<p>Altura: {{ getAlturaPersona() }}</p>

<ul *ngFor="let item of miArray">
  <li>{{ item }}</li>
</ul>
