<form>
  <h3>Add a Link</h3>

  <div>
    <label for="title">Title:</label>
    <!-- Cambio #newtitle -->
    <input name="title" id="title" #newtitle />
  </div>

  <div>
    <label for="link">Link:</label>
    <!-- Cambio #newlink -->
    <input name="link" id="link" #newlink />
  </div>

  <button (click)="addArticle(newtitle, newlink)">Submit link</button>
</form>

<app-article></app-article>
